.DS_Store
platexmkrc
makectan.sh
README000.md
README1ST.md
NnnCCPxx-1.pdf
NnnCCPxx-2.pdf
sansgreek.tex
sansgreek.pdf
mandidemo.tex
mandidemo.pdf
newfeaturesdemo.tex
newfeaturesdemo.pdf
newfeatures.sty
fixes.sty
archives/
